<!-- Admin page -->
{% extends 'base.html' %}
{% block messages %}
<!-- displays flashed messages -->
<div id="messages">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <span style="color: red; font-style: italic">{{ message }}</span>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
{% endblock %}
{% block index %}
<div id="adminPanel">

</div>
<script>
    // get posts with fetch
    const posts = fetch('/posts')
        .then(response => response.json())
        .then(data => data);

    // display post info with options
    const adminPanel = {
        posts: posts,
        options: (post) => [
            {
                label: 'Edit', 
                link: `/write/${post.post_id}`, 
                method: 'GET', 
                template: function() {return `<a href="${this.link}">${this.label}</a>`}
            },
            {
                label: 'Hide', 
                link: `/hide/${post.post_id}`, 
                method: 'PATCH', 
                template: function() {
                    let btn = document.createElement('button')
                    btn.innerText = this.label;
                    btn.onclick = function() {
                        fetch(this.link).then(response=>console.log(response));
                    }
                    return btn.outerHTML;
                }
            }
        ],
        make: function() {
            // collect posts and display them
            var options = this.options;
            this.posts.then((data)=>{
                let panel = document.querySelector('#adminPanel');
                let row = (post)=>{ 
                    let postInfo = `<td>${post.title}</td><td>${post.date}</td>`;
                    let optTags = ``;
                    options(post).forEach(d=>{
                        optTags+=`<td>${d.template()}</td>`;
                        
                        }
                    );
                    return `<tr>${postInfo}${optTags}</tr>`;
                }
                ;
                let innerHtml = ``;
                for (i = 0; i < data.length; i ++) {
                    let post = data[i];
                    options(post).forEach(d=>console.log(d.template()));
                    innerHtml += row(data[i]);
                }
                panel.innerHTML = `<table>` + innerHtml + `</table>`;
            });
        }
    }


</script>
{% endblock %}
