* {
    margin: 0 auto;
    
}
body {
    background-color: #f9f9f9;
}
.header {
    display: flex;
    flex-direction: column;
}
.post-preview {
    margin: 1em;
}
.post-preview p {
    margin-left: 1em;
    margin-top: 0.33em;
    font-family: sans-serif;
}
.post-preview a {
    color: #0f0f0f;
}
.index {
    background-color: 
}
/* 
.index, .blog-details {
    max-width: 66%;
    background-color: #ffffff;
}
div.index p {
    padding: 1em;
}
div.index li {
    padding: 0.333em;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
    color: #0f0f0f;
} */
/* navigation */
nav {
    margin: 1em;
}
nav a {
    color: #0f0f0f;
}
nav a:visited {
    color: #0f0f0f;
}
/*
.post-preview-title {
    padding-top: 0.33em;
    padding-left: 0.33em;
    font-style: italic;
}
*/
.logo {
    background: url(images/typewriter.svg);
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
}