* {
    margin: 0;
}
body {
    background-color: #f9f9f9;
}
.flex {
    display: flex;
}
.column {
    flex-direction: column;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post-preview {
    margin: 1em;
}
.post-preview p {
    margin-left: 1em;
    margin-top: 0.33em;
    font-family: sans-serif;
}
.post-preview a {
    color: #0f0f0f;
}
#footer {
    background-color: #222;
    color: #999;
    margin-top: auto;
    padding: 1em;
}
#footer ul {
    list-style-type: none;
    padding-left: 0;
}
#footer ul li a {
    color: #eee;
}
/* navigation */
nav {
    margin: 1em;
}
nav a {
    color: #0f0f0f;
}
nav a:visited {
    color: #0f0f0f;
}
/*
.post-preview-title {
    padding-top: 0.33em;
    padding-left: 0.33em;
    font-style: italic;
}
*/
.logo {
    background: url(images/typewriter.svg);
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
}
#content {
    height: 100vh;
}
/* table of contents */
#toc {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    margin: 1em;
    margin-top: 0;
    border-style: dashed;
    max-height: min-content;
    border-width: thin;
    text-align: center;
    position: sticky;
    top: 1em;
    align-self: flex-start;
    min-width: 22%;
}
#toc span {
    font-style: italic;
    font-weight: bold;
    font-size: 1.5em;
}
#toc ul {
    list-style-type: none;
    padding: 0;
}
#toc ul li {
    padding: 0.5em;
}
#toc ul li a {
    color: #222;
}
/* post */
#post {
    padding: 1em;
}
blockquote {
    font-style: italic;
    padding-left: 1.333em;
    padding-right: 0.666em;
}
@media only screen and (max-width: 768px) {
    #article {
        flex-direction: column;
    }
    #post {
        order: 1;
    }
    #toc {
        order: 0;
        position: relative;
        align-self: stretch;
    }
}