* {
    margin: 0 auto;
}
@font-face {
    font-family: Virtue;
    src: url(virtue.ttf);
}

h1, h2, h3, .stippled {
    background-color:#f0f0f0;
    font-family: Virtue, Charcoal, Chicago, Monospace;
    text-align: center;
    position: sticky;
    height: auto;
    top: -1em;
}

p {
    text-align: justify;
    font-family: Virtue, sans-serif;
}

