/*
    CSS for blog
*/

* {
    margin: 0 auto; /* center */
}
h1 {
    font-size: 1.66rem;
    text-align: center;
}   
h2 {
    text-align: center;
    font-size: 1.33rem;
    margin: 1em;
}
h3 {
    text-align: center;
    font-size: 1.11rem;
}
section p {
    padding: 0.111em 0.666em;
    line-height: 140%;
}
section h2 { /* section headers */
   text-align: center; 
}
#title {
    padding: 1.5em;
    font-style: italic;
}
/*
 * CSS rules for table of contents
 */
#toc {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    margin: 1em;
    margin-top: 0;
    border-style: dashed;
    max-height: min-content;
    border-width: thin;
    text-align: center;
    position: sticky;
    top: 1em;
}
#toc span {
    font-style: italic;
    font-weight: bold;
}
blockquote {
    font-style: italic;
    padding-left: 1.333em;
    padding-right: 0.666em;
}
