/* post */
#post {
    padding: 1em;
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 66% auto;
}
#post p {
    margin-bottom: 0.666em;
}
#post p:last-child {
    margin-bottom: 0;
}
#body {
    grid-row-start: 1;
}
#toc {
    grid-column-start: 2;
    grid-column-end: span 1;
    top: 1em;
    margin: 1em;
    position: sticky;
}
blockquote {
    font-style: italic;
    padding-left: 1.333em;
    padding-right: 0.666em;
    margin: 0.5em;
}
#title {
    font-style: italic;
    margin-bottom: 0.666em;
}
.main-image img {
    max-width: 100%;
    height: auto;
}
@media only screen and (max-width: 768px) {
    #toc {
        align-self: stretch;
        position: relative;
    }
    #post {
        display: flex;
        flex-direction: column;
    }
}