<!doctype html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        {% if not current_user.is_anonymous %}
        <a href="/write">Write</a>
        <a href="/admin">Admin</a>
        <a href="/logout">Logout</a>
        {% endif %}
    </nav>
    <div class="header">
        <h1>{{ blog_title }}</h1> 
        <p>{{ blog_description }}</p>
    </div>
    {% block messages %}{% endblock %}
    <section id="index">
        {% block index %}{% endblock %}
    </section>
</body>
</html>
