<!doctype html>
<html>
	<head>
        <link rel="stylesheet" href={{ url_for('static', filename='post.css') }}>
		<title>{{ post.title }}</title>
	</head>
	<body>
        <article>
        <div id="toc">
        <span>{{ post.title }}</span>
        <ul>
        {% for section in sections %}
            <li>
                {{ section }} <!-- Later I wanna do links but that's too much rn -->
            </li>
        {% endfor %}
        </ul>
        </div>
        <h1>{{ post.title }}</h1>
        <section class="body">
        {{ post.content | safe }}
        </section>
		</article>
	</body>
</html>
