{% extends 'post_base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<article>
<div class="container">

{% if sections is defined and sections[0] is defined %}
<div id="toc">
<span>{{ post.title }}</span>
<ul>
{% for section in sections %}
<li>
    <a href={{ request.path }}#{{ loop.index }}>{{ section }}</a>
</li>
{% endfor %}
</ul>
</div>
</div>
{% endif %}
<h1 id="title">{{ post.title }}</h1>
{% if post.images[0] is defined %}
<div class="main-image">
    <img src="{{ url_for('static', filename='images/'+post.images[0].url) }}">
</div>
{% endif %}
<section class="body">
{{ post.content | safe }}
</section>
</article>
{% endblock %}
