<!doctype html>

<html>
<head>
    <link rel="stylesheet" href={{ url_for('static', filename='global.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='post.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='post-grid.css') }}>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
    </nav>
    <section class="index">
        {% block content %}{% endblock %}
    </section>
</body>
</html>
