{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block index %}
<div id="article" class="flex">
    <div id="post" class="flex column">
        <h1 id="title">{{ post.title }}</h1>
        {% if post.images[0] is defined %}
        <div class="main-image">
            <img src="{{ url_for('static', filename='images/'+post.images[0].url) }}">
        </div>
        {% endif %}
        <div class="body">
        {{ post.content | safe }}
        </div>
    </div>
    {% if sections is defined and sections[0] is defined %}
    <div id="toc">
        <span>{{ post.title }}</span>
        <ul>
            {% for section in sections %}
            <li>
                <a href={{ request.path }}#{{ loop.index }}>{{ section }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
{% endblock %}
