<head>
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<link href="{{ url_for('static', filename='write.css') }}"rel="stylesheet">
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
</head>
<body>
<div id="writer">
<div id="editor-container">

</div>
<!-- button id="submit" type="submit">
    Submit
</button -->

<form method="POST" class="form">
    {{ form.delta }}
    {{ form.submit }}
</form>
</div>
<script>
    var quill = new Quill('#editor-container', {
        theme: 'snow'
    });

    var submit_entry = function () {
        var hidden_text_field = document.getElementById('delta');
        hidden_text_field.value = JSON.stringify(quill.getContents());
    }
    var new_post_form = document.getElementsByClassName('form')[0];
    new_post_form.onsubmit = submit_entry;
</script>
</body>
