<head>
<!-- link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet" -->
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<link href="{{ url_for('static', filename='write.css') }}"rel="stylesheet">
<link href="{{ url_for('static', filename='post.css') }}"rel="stylesheet">
</head>
<body>

<!-- button id="submit" type="submit">
    Submit
</button -->
<div id="writer">
</div>
</div>
    <script>
        const writer = document.querySelector('#writer');
        const textContainer = document.createElement('textarea');
        writer.appendChild(textContainer);

        const preview = document.createElement('div');
        preview.id = 'body';
        writer.appendChild(preview);
        textContainer.onkeypress = (e)=>{
            if (e.key !== "Enter") {
                console.log(marked(e.target.value + e.key));
                preview.innerHTML=marked(e.target.value + e.key);
            }
        }


    </script>
</body>
